<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Overview</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Group ID</th>
          <th>Filename</th>
          <th>File Size</th>
          <th>Thumbnails</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          {% if file.rowspan %}
          <td rowspan="{{ file.rowspan }}">{{ file.group_id }}</td>
          {% endif %}
          <td>{{ file.filename }}</td>
          <td>{{ file.file_size }}</td>
          <td class="thumbnails">
            {% for thumbnail_path in file.thumbnails %}
            <img
              src="{{ url_for('view.serve_thumbnail', filepath=thumbnail_path) }}"
            />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
