<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>🏠 Files Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page_link.css') }}"
    />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Group ID</th>
          <th>Filename</th>
          <th>File Size</th>
          <th>Thumbnails</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          {% if file.rowspan %}
          <td rowspan="{{ file.rowspan }}">
            <a
              href="{{ url_for('view.group_page', group_id=file.group_id) }}"
              class="page-link"
              >{{ file.group_id }}</a
            >
          </td>
          {% endif %}
          <td>
            <a
              href="{{ url_for('view.file_page', group_id=file.group_id, file_path=file.file_path) }}"
              class="page-link"
              >{{ file.filename }}</a
            >
          </td>
          <td>{{ file.file_size }}</td>
          <td class="thumbnails">
            {% for thumbnail_path in file.thumbnails %}
            <img
              src="{{ url_for('view.serve_thumbnail', filepath=thumbnail_path) }}"
            />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
