<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🖼️ File Display</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='file_display.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page_header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home_link.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page_link.css') }}"
    />
    <script src="{{ url_for('static', filename='viewer.js') }}"></script>
  </head>
  <body>
    <div class="home-link-container">
      <a href="{{ url_for('view.index') }}" class="home-link">🏠 Files Home</a>
    </div>
    <button
      id="launchButton"
      class="launch-button"
      data-md5="{{ md5 }}"
    ></button>
    <div class="page-header-container">
      <a
        href="{{ url_for('view.group_page', group_id=group_id) }}"
        class="home-link page-header-item"
        >📁 {{ group_id }}</a
      >
      <p class="page-header-item">Path: {{ directory }}/{{ filename }}</p>
    </div>
    <div id="imageIndicator" class="image-indicator"></div>
    <div
      id="viewer"
      data-group-id="{{ group_id }}"
      data-directory="{{ directory }}"
      data-filename="{{ filename }}"
    >
      <button id="prev" class="btn">«</button>
      <img id="currentImage" src="" alt="Image viewer" />
      <button id="next" class="btn">»</button>
    </div>
  </body>
</html>
