<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>📁 Group Display</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home_link.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page_link.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page_header.css') }}"
    />
  </head>
  <body>
    <div class="home-link-container">
      <a href="{{ url_for('view.index') }}" class="home-link">🏠 Files Home</a>
    </div>
    <div class="page-header-container">
      <p class="page-header-item">📁 {{ group_id }}</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Directory</th>
          <th>Filename</th>
          <th>File Size</th>
          <th>Thumbnails</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{ file.directory }}</td>
          <td>
            <a
              href="{{ url_for('view.file_page', group_id=group_id, directory=file.directory, filename=file.filename) }}"
              class="page-link"
              >{{ file.filename }}</a
            >
          </td>
          <td>{{ file.file_size }}</td>
          <td class="thumbnails">
            {% for thumbnail_path in file.thumbnails %}
            <img
              src="{{ url_for('view.serve_thumbnail', filepath=thumbnail_path) }}"
            />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
