<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>🏠 Files Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='page_link.css') }}"
    />
    <script src="{{ url_for('static', filename='loadIndex.js') }}"></script>
  </head>
  <body>
    <form method="GET" action="{{ url_for('view.index') }}">
      <label for="filename">Filename:</label>
      <input
        type="text"
        id="filename"
        name="filename"
        value="{{ filename_filter }}"
        placeholder="Enter part of the filename"
        title="Search for files containing this text"
      />
      <label for="extension">Extension:</label>
      <input
        type="text"
        id="extension"
        name="extension"
        value="{{ extension_filter }}"
        placeholder="e.g., jpg, png"
        title="Search for files with this extension"
      />
      <button type="submit">Filter</button>
      <button
        type="reset"
        data-reset-url="{{ url_for('view.index') }}"
        onclick="resetForm(this)"
      >
        Clear
      </button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Group ID</th>
          <th>Filename</th>
          <th>File Size</th>
          <th>Thumbnails</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          {% if file.rowspan %}
          <td rowspan="{{ file.rowspan }}">
            <a
              href="{{ url_for('view.group_page', group_id=file.group_id) }}"
              class="page-link"
              >{{ file.group_id }}</a
            >
          </td>
          {% endif %}
          <td>
            <a
              href="{{ url_for('view.file_page', group_id=file.group_id, directory=file.directory, filename=file.filename) }}"
              class="page-link"
              >{{ file.filename }}</a
            >
          </td>
          <td>{{ file.file_size }}</td>
          <td class="thumbnails">
            {% for thumbnail_path in file.thumbnails %}
            <img
              src="{{ url_for('view.serve_thumbnail', filepath=thumbnail_path) }}"
            />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
